@import '../../App.scss';

footer {
  @include wide-container(2em);
  @include flex-spaced-out(column);
  background-color: darken($color-theme, 15);
  color: #fff;
  text-align: center;

  p {
    max-width: 50ch;
  }
}