@import '../../App.scss';

#showcase {
  @include flex-spaced-out(column);
  @include wide-container();

  background: rgb(29,26,79);
  background: linear-gradient(180deg, rgba(29,26,79,1) 32%, rgba(45,60,139,1) 95%);
  img {
    width: 70%;
    margin: 3em 0;
    max-width: 1000px;
    min-width: 350px;

    &:hover {
      cursor: pointer;
    }
  }

  article {
    max-width: 50ch;
    color: #fff;
    font-size: 1.75em;
    margin: 1em 0;
    text-align: center;
    line-height: 1.2em;
    letter-spacing: 0.5px;
  }

  span {
    text-decoration: underline;
    color: #ffff00;
    &:hover {
      cursor: pointer;
    }
  }
}